/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #000000;
    background-alt: #111111;
    foreground:     #F0C674;
    selected:       #8ABEB7;
    active:         #B8BB26;
    urgent:         #A54242;
}
