* {
    border-radius: 10px;
    border: none;
}

window {
  font-family: "Ubuntu Nerd Font";
  font-size: 16px;
  background-color: rgba(25, 36, 40, 0.95);
}

#input {
  margin: 5px;
  border: none;
  color: #ffffff;
  background-color: rgba(25, 36, 40, 0.5);
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: transparent;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: transparent;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #ffffff;
}

#entry {
  padding: 0.25em;
}

#entry:focus {
  border: none;
}

#entry:selected {
  background-color: rgba(25, 36, 40, 0.95);
  background: linear-gradient(90deg, #dfd7cf, #22333b)
}

#text:selected {
  color: #000000
}

image {
  margin-left: .25em;
  margin-right: .25em;
}
